html, body{
    margin:0;
}

body{
    background-color: rgb(238, 238, 240);
    display: flex;
    justify-content: center;
}

header{
    height: 300px;
}

header picture img{
    margin-left: 5px;
    padding: 5px;
    width: 100px;
    height: 100px;
}

header p{
    justify-content: center;
    margin-top: 5px;
    width: 100px;
    font-size: large
}

main{
    margin-top: 50px;
    margin-left: 100px;
    margin-right: 100px;
}

main picture img{
    height: 450px;
    width: 700px;
}

main picture figurecaption{
    margin-top: 10px;
    margin-left: 230px;
    text-align: center;
    font-size: medium;
}

main table{
    margin-top: 10px;
    padding: 7px;
    border: solid 1px black;
    border-radius: 10px;
}
table thead th{
    background-color: black;
    color: #f1f1f1;
}
table tbody tr:nth-child(even) td{
    background-color: lightblue;
}

table tbody tr:hover td{
    background-color:cornflowerblue;
    cursor: pointer;
}